<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="User ID" value="postgres" />
		<add key="Password" value="" />
		<add key="Initial Catalog" value="test" />
		<add key="Data Source" value="localhost" />
		<add key="Port Number" value="5432" />
		<add key="Connection lifetime" value="1" />
		<add key="Pooling" value="false" />
		<add key="Packet Size" value="8192" />		
		<add key="Ssl" value="true" />
	</appSettings>
</configuration>